# URL PROJETO
URL=http://localhost/
# CASO DESEJE COLOCAR AS ROTAS EM MANUTENÇÃO (MAINTENANCE=true)
MAINTENANCE=false
JWT_KEY=token
# ATIVAR O CACHE COM TEMPO
CACHE_TIME=0
# DIRETORIO TEMPORARIO PARA O PROJETO
CACHE_DIR=/tmp/cache
# NUMERO TOTAL DE EXIBIÇÃO DE PAGINA
PAGINATION_LIMIT=5