<div class="form-group">
    <div class="col-md-12" style="text-align: center;">
        <h1 class="featurette-heading">Nefroz - Download</h1>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12 col-sm-10 col-md-12" style="text-align: center;">
        <ul class="manager">
            <li>
            <a href="{{URL}}/download">V 1.0</a>
            </li>
        </ul>
    </div>
</div>
<p><br><br><br><br><br><br><br></p>
<div class="form-group">

    <div class="col-xs-12 col-sm-10 col-md-12" style="text-align: center;">
        <a class="btn btn-default" type="button" href="{{URL}}/login/logout"><span class="glyphicons glyphicons-power" style="font-size: 20px;"></span> Sair</a>
    </div>
</div>
