<div class="form-group">
    <div class="col-md-12 jumbotron" style="text-align: center;">
        <h3 class="featurette-heading" style="color: #006748">Nefroz - Download</h3>
        <br/>
        <br/>
        <p style="text-align: left; font-size: 14px;">Para acessar o material é necessário ter o descompactador de arquivos .zip <a href="https://intranet.fm.usp.br/nefroz/resources/view/pages/download/winrar.exe" target="_blank">clique aqui</a> para fazer download para <b>windows</b>.</p>
        <br/>
        <ul class="manager">
            <li>
                <a data-toggle="modal" data-target=".bd-example-modal-lg">Fisiopatologia Renal - V1</a>
            </li>
        </ul>
    </div>
</div>
<p><br><br></p>
<div class="form-group">
    <div class="col-xs-12 col-sm-10 col-md-12" style="text-align: center;">
        <a class="btn btn-default" type="button" href="{{URL}}/login/logout"><span class="glyphicons glyphicons-power" style="font-size: 20px;"></span> Sair</a>
    </div>
</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="col-md-12 jumbotron" role="main">
                <h3 class="featurette-heading" style="text-align: center;">TERMO DE USO E TERMO DE PRIVACIDADE</h3>
                <br>
                <p>
                    O objetivo deste manual fruto de projeto de pesquisa é a utilização como material de apoio aos profissionais de saúde para o manejo de pacientes com doença de
                    Chagas crônica em nível de atenção básica e para a formação de recursos humanos, estando registrado pelos autores e instituição executora,
                    na Biblioteca Nacional sob ISBN 9788598483009.
                </p>
                <p>
                    Os dados do cadastro são confidenciais e visam,
                    aprimoramentos e revisões futuras direcionadas para os profissionais que dele se utilizam para os fins propostos.
                </p>
                <p>
                    Desta maneira, a Faculdade de Medicina da Universidade de São Paulo –
                    FMUSP, zelando pela segurança e privacidade dos usuários do manual, compromete-se:
                </p>
                <p>
                    <b>A)</b> A não utilizar as informações confidenciais a que tiver acesso, para gerar benefício próprio exclusivo e/ou unilateral,
                    presente ou futuro, ou para o uso de terceiros;
                </p>
                <p>
                    <b>B)</b> A não comercializar, trocar ou divulgar para terceiros os dados cadastrais dos usuários que preenchem o cadastro;
                </p>
                <p>
                    <b>C)</b>  A não utilizar estes dados para contato ou envio de propaganda.
                </p>
                <p>
                    <b>D)</b>  A não identificar e individualizar, de qualquer forma, o paciente participante deste projeto de pesquisa.
                </p>
                <br>
                <p align="justify">
                    Ao clicar no botão “aceito”, o paciente/usuário manifesta sua concordância no seguinte sentido:
                </p>
                <br>
                <p>
                    <b>A)</b>  Todas as condições, termos e obrigações ora constituídas serão regidas pelo presente Termo, bem como pela legislação e regulamentação brasileira pertinentes;
                </p>
                <p>
                    <b>B)</b>  O presente termo só poderá ser alterado mediante a celebração de novo termo, posterior e aditivo;
                </p>
                <p>
                    <b>C)</b>  As alterações do número,
                    natureza e quantidade das informações confidenciais disponibilizadas não descaracterizarão ou reduzirão
                    o compromisso ou as obrigações pactuadas neste Termo,
                    que permanecerá válido e com todos os seus efeitos legais em qualquer das situações tipificadas neste instrumento;
                </p>
                <p>
                    <b>D)</b>  O acréscimo, complementação, substituição ou esclarecimento de qualquer das informações confidenciais disponibilizadas para o funcionário,
                    em razão do presente objetivo, serão incorporadas a este Termo, passando a fazer dele parte integrante, para todos os fins e efeitos,
                    recebendo também a mesma proteção descrita para as informações iniciais disponibilizadas, não sendo necessário, nessas hipóteses,
                    a assinatura ou formalização de Termo aditivo.
                </p>

                <br/>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;">
                        <a class="btn btn-success" type="button" href="{{URL}}/download" ><span class="glyphicons glyphicons-ok-2"></span> Aceito</a>
                        <a class="btn btn-default" type="button" href="{{URL}}/login/logout"><span class="glyphicons glyphicons-power"></span>
                            Sair</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
